<!-- eslint-disable @angular-eslint/template/alt-text -->
<br><br>
<img src="/images/homeright.jpg" >
<img src="/images/homelift.jpg" class="limg">
<section class="hero text-center">
  <div class="hero-content">
    <h1>Experience the perfect blend of flavors and ambiance.</h1>
    <br>
    <a routerLink="/menu" class="btn ">Start Your Journey</a>
  </div>
</section>
<br><br>

<section id="about" class="about">
  <div class="container text-center">
    <h2>Discover Our Story</h2>
    <p>
      At Tasty Vibes, we believe food is not just about taste, it's about creating an experience. From the freshest ingredients to our welcoming atmosphere, we aim to bring people together with every bite.
    </p>
  </div>
</section>
<br><br>

<section id="menu" class="menu">
  <div class="container text-center">
    <h2>Our Specialities</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="menu-item">
          <img src="/images/photo_5.jpg" alt="Original Chicken Ranch" class="img-fluid">
          <h4>Original Chicken Ranch</h4>
          <p>Grilled chicken, mushrooms, green peppers, onions, mozzarella, pizza sauce and topped with ranch sauce.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="menu-item">
          <img src="/images/photo_11.jpg" alt="Shiitake Mushroom" class="img-fluid">
          <h4>Shiitake Mushroom</h4>
          <p>Sautéed mushroom, cheddar cheese, and creamy mayonnaise spread on top of our pure beef burger patty.</p>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="menu-item">
          <img src="/images/photo_14.jpg" alt="Shrimp Love" class="img-fluid">
          <h4>Shrimp Love</h4>
          <p>pieces shrimp, served with spicy mayonnaise.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>

<section id="contact" class="contact">
  <div class="container text-center">
    <h2>Join Us Today</h2>
    <p>Come for the food, stay for the vibes. Visit us or contact us for any inquiries.</p>
    <a class="email" routerLink="/contact">contact: tastyvibes</a>
  </div>
</section>
<br><br>